<form>
    <div class="box1">
        <a href="/0/edit" class="button" id="create-new-note">Create new note</a>
        <button type="submit" name="alternative-style" value="{{alternativeStyle.value}}" id="style-switcher" class="{{alternativeStyle.class}}">Switch style</button>
    </div>
    <div class="box2">
        <button type="submit" name="order-by" value="{{orderBy.finish.value}}" id="by-finish-date" class="{{orderByImportance.class}}">By finish date</button>
        <button type="submit" name="order-by" value="{{orderBy.created.value}}" id="by-created-date" class="{{orderByImportance.class}}">By created date</button>
        <button type="submit" name="order-by" value="{{orderBy.importance.value}}" id="by-importance" class="{{orderByImportance.class}}">By importance</button>

        <button type="submit" name="show-finished" value="{{showFinished.value}}" id="show-finished" class="{{showFinished.class}}">{{showFinished.text}}</button>
    </div>
</form>

{{#if notes}}
    <ul class="boxed_notes">
        {{#each notes}}
            <li>
                <div class="note_box">
                    <p class="due">{{dueSentence}}</p>
                    <p class="title">{{title}}</p>
                    <p class="importance">{{importanceStars}}</p>

                    <label class="finished"><input type="checkbox" disabled {{finishedChecked}}>Finished</label>
                    <textarea disabled class="description">{{description}}</textarea>
                    <a href="/0/edit" class="edit">Edit</a>
                </div>
            </li>
        {{/each}}
    </ul>
{{else}}
    <p>No notes found.</p>
    <p>Suggestions:</p>
    <ul>
        <li><p>Create a note by clicking on &quot;Create new note&quot;</p></li>
        <li><p>Show already finished notes by clicking on &quot;Show finished&quot;</p></li>
    </ul>
{{/if}}
