<form>
    <div class="box1">
        <a href="/note-form" class="button" id="create-new-note">Create new note</a>
        <button type="submit" name="style" value="{{otherStyle}}" id="style-switcher">Switch style</button>
    </div>
    <div class="box2">
        <button type="submit" id="by-finish-date">By finish date</button>
        <button type="submit" id="by-created-date">By created date</button>
        <button type="submit" id="by-importance">By importance</button>

        <button type="submit" id="show-finished">Show finished</button>
    </div>
</form>

<ul class="boxed_notes">
    {{#each notes}}
        <li>
            <div class="note_box">
                <p class="due">{{dueSentence}}</p>
                <p class="title">{{title}}</p>
                <p class="importance">{{importanceStars}}</p>

                <label><input type="checkbox" disabled {{finishedChecked}} class="finished">Finished</label>
                <textarea disabled class="description">{{description}}</textarea>
                <a href="/note-form" class="edit">Edit</a>
            </div>
        </li>
    {{/each}}
</ul>
